<div class="container mt-3">
  <form action="/books" method="GET">
    {{#each genres as |genre|}}
      <button class="btn btn-outline-secondary" type="submit" name="genres" value="{{genre}}">{{genre}}</button>
    {{/each}}

    <div>
      <label for="minPages">Mínimo de páginas</label>
      <input id="minPages" type="range" name="minPages">
      <span>Value: <output id="minPages"></output></span>
    </div>
    <div>
      <label for="">Máximo de páginas</label>
      <input id="maxPages" type="range" name="maxPages">
      <span>Value: <output id="maxPages"></output></span>
    </div>

    <button class="btn btn-outline-primary">Enviar</button>
    <a class="btn btn-secondary" href="/books">Limpiar filtros</a>
  </form>


  <h1>Libros disponibles</h1>

  {{#if author}}
    <h4>Mostrando los libros de {{author}}</h4>
  {{/if}}

  {{#if books}}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      {{#each books as |book|}}
        <div class="col">
          <div class="card h-100">
            <img src="https://placehold.co/600x400" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">{{book.author.name}}</p>
              <div class="mb-3">
                {{#each book.genres as |genre|}}
                  <span class="badge text-bg-secondary me-2">{{genre}}</span>
                {{/each}}
              </div>
              <a class="btn btn-outline-primary" href="/books/{{book._id}}">Ver más detalles</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p>No hay resultados con tus filtros actuales</p>
  {{/if}}

</div>